html{
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
}
body{
    margin: 0%;
    background-color:  #ffffff;
    height: 900px;
    
}

nav{
    width: auto;
    height: auto;
    background-color: #1cb5e0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

ul{
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    height: 70px;
    background: linear-gradient(to left, #000046, #1cb5e0);
}

li{
    float: right;
    opacity: 0.8;
}

a{
    color: rgb(255, 255, 255);
}

li a{
    display: block;
    text-align: center;
    padding: 25px 15px;
    height: 20px;
    text-decoration: none;
    background-color: #000046;
}

li a:hover{
    background-color: rgb(156, 156, 156);
}

.principal{
    display: flex;
    width: auto;
    flex-direction: row;   
    justify-content: center;
    margin-top:100px;
    gap:0px,
    

    
}

.principalImage{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap:0px;  
    padding-right: 100px;
    
}



.Image1{
    width: 300px;
    height: 300px;
    background-color: #1cb5e0;
    border-radius: 60px;
}

.infoPrincipal{
    display: flex;
    flex-direction: column;
    padding-left: 100px;   
}

.button {
    background-color: #000046;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button:hover {opacity: 1}
  

  .infoText{
    margin-top: 130px;
    height: auto;
    width: 80%;
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
  }

  
  