body{
    margin: 0%;
}

nav{
    width: auto;
    height: auto;
    background-color: rgb(77, 77, 77);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}

ul{
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    height: 70px;
}

li{
    float: right;
}

a{
    color: rgb(255, 255, 255);
}

li a{
    display: block;
    text-align: center;
    padding: 25px 15px;
    height: 20px;
    text-decoration: none;
    background-color: rgb(77, 77, 77);
}

li a:hover{
    background-color: rgb(156, 156, 156);
}