html{
    background-attachment: fixed;
    font-family: 'Exo 2', sans-serif;
}
body{
    margin: 0%;
    background-color:  #ffffff;
    height: 900px;
    
}

/* header */

.nav{
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    height: 80px;
    color: white;
}
.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}
.nav__item{
    color: rgb(255, 255, 255);
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav__item::after{
    content: "";
    display: block;
    background: #ffffff;
    width: 90%;
    margin-top: 3px;
    height: 4px;
    clip-path: var(--clippy);
    transition: clip-path .2s;
}
.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav__container{
    display: flex;
    height: 100%; 
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}




.nav__label, .nav__input{
    display: none;
}





  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
.principal{
    display: flex;
    padding: 60px 0px;
    width: 90%;
    justify-content: space-around;
    gap: 30px;
}

.principalImage{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    gap:0px;  
    width: auto;

    
}



.Image1{
    width: 250px;
    height: 250px;
    background-color: #1cb5e0;
    border-radius: 60px;
}

.infoPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: auto;
}


  

  

  .infoText{
    margin-top: 130px;
    height: auto;
    width: 80%;
    background: linear-gradient(to left, #36d1dc, #5b86e5);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 15px;
  }

  .cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
}

    .card {
        flex: 0 1 24%;
    }


    .card {
        background: white;
        margin-bottom: 2em;	
    }
    
    .card a {
        color: black;
        text-decoration: none;
    }
    
    .card a:hover {
        box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
    }
    
    .card-content {
        padding: 1.4em;
    }
    
    .card-content h2 {
        margin-top: 0;
        margin-bottom: .5em;
        font-weight: bold;
    }
    
    .card-content p {
        font-size: 80%;
    }



    





    footer{
        width: 100%;
        background: linear-gradient(to left, #36d1dc, #5b86e5);

    }

    footer .footer-content{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 45px 0px;
    }

    footer .footer-content .box .figure{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-img{
        width: 150px;
        height: 150px;
    }
    footer .footer-content .box {
        color:  black;
        margin-bottom: 20px;
        font-size: 20px;
    }
    footer .footer-content .box p{
        color: black;
        margin-bottom: 10px;
    }

    footer .footer-content .box2 .footer-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: black;
        margin-right: 10px;
        text-align: center;
        transition: all 300ms ease;
    }

    footer .footer-content .box2 .footer-social a:hover{
        color: aquamarine;
    }

    footer .footer-2{
        background-color: #000046;
        padding: 15px 10px;
        text-align: center;
        color: wheat;
    }

    footer .footer-2 small{
        font-size: 16px;
    }

    /* tablet size */
    @media screen and (max-width:992px){
        p {
            font-size: 26px;
        }
        h2{
            font-size: 30px;
        }


        .principal{
            gap: 30px;
        }


        .nav__label{
            display: block;
            cursor: pointer;
        }
     
     
     
        .nav__menu{
            position: fixed;
            top: 80px;
            bottom: 0px;
            background: linear-gradient(to left, #36d1dc, #5b86e5);
            width: 100%;
            left: 0px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            clip-path: circle(0 at center);
            transition: clip-path .4s ease-in-out;
        }
        
        .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);    
        }
        .nav__item{
            font-size: 20px;
        }
        
    

        footer .footer-content{
            display: flex;
            flex-direction: column;
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 40px;
            padding: 30px 0px;
        }
        .footer-img{
            display: none;
        }
        .footer-social{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 100px;
        }


        .footer-social a{
            display: flex;
            height: 50px;
            width: 50px;
        }
        a.fa.fa-facebook{
            font-size: 40px;
        }
        a.fa.fa-twitter{
            font-size: 40px;
        }

        a.fa.fa-instagram{
            font-size: 40px;
        }
    }

    @media screen and (max-width:767px){
        .principalImage{
            display: none;
        }
        .infoText{
            flex-direction: column;
        }
    }
